@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import "tailwindcss";

/* ---google fonts  */
@layer base {
  body {
    font-family: 'Noto Serif', serif;
  }
}
@layer utilities{
    .subtitle{
        color: rgba(0, 0, 0, 0.5);
    }
    .span{
        color: #E95A08;
    }
}